:root {
    --pale-purple: hsla(269, 49%, 90%, 1);
    --magnolia: hsla(263, 100%, 97%, 1);
    --periwinkle: hsla(252, 100%, 88%, 1);
    --tropical-indigo: hsla(250, 89%, 78%, 1);
    --medium-slate-blue: hsla(241, 96%, 72%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    background-color: dimgray;
    overflow: hidden;
}

form {
    width: 100%;
    max-width: 768px;
    height: 100%;
    position: relative;
    background-color: var(--magnolia);
}

.top_bar {
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--periwinkle);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-radius: 0 0 30px 30px;
    color: var(--medium-slate-blue);
    z-index: 10;
}

.top_bar_logo_text {
    font-family: "Pacifico", serif;
    font-size: 1.7rem;
    text-shadow: 2px 2px 5px white;
}

.top_bar_user_account_btn {
    font-size: 1.9rem;
    color: white;
}


.bottom_bar {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--periwinkle);
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0 0;
}

.bottom_bar_camera_btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 10px;
    color: white;
    height: 80px;
    aspect-ratio: 1/1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--tropical-indigo);
}

.bottom_bar_item {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.apparel_upload_form {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(20px); /* Blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}

.close_btn_container {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    color: var(--tropical-indigo)
}

.camera_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    background-color: var(--tropical-indigo);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

#webcam, #imgCapture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imgCapture {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.multi_input_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input_container {
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.text_input {
    width: 100%;
    padding: 7px 7px;
    font-family: "Poppins";
    font-size: 1rem;
    background-color: var(--pale-purple);
    border: 2px solid var(--medium-slate-blue);
    border-radius: 5px;
}

    .text_input:focus {
        outline: none;
    }

    .text_input::placeholder {
        font-size: 0.7rem;
    }

.cta_buttons_container {
    position: sticky;
    bottom: 5px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta_capture_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tropical-indigo);
    height: 80px;
    aspect-ratio: 1/1;
    padding: 15px;
    border-radius: 50%;
}
