:root {
    --pale-purple: hsla(269, 49%, 90%, 1);
    --magnolia: hsla(263, 100%, 97%, 1);
    --periwinkle: hsla(252, 100%, 88%, 1);
    --tropical-indigo: hsla(250, 89%, 78%, 1);
    --medium-slate-blue: hsla(241, 96%, 72%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: dimgray;
}

form {
    width: 100%;
    max-width: 768px;
    height: 100%;
}
