/****** Object:  Table [dbo].[Apparels]    Script Date: 12-03-2025 11:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apparels](
	[ApparelID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](20) NULL,
	[AccessoryType] [nvarchar](50) NULL,
	[Description] [ntext] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[R] [tinyint] NOT NULL,
	[G] [tinyint] NOT NULL,
	[B] [tinyint] NOT NULL,
	[ColorName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApparelID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavouriteBlend]    Script Date: 12-03-2025 11:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavouriteBlend](
	[BlendID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Description] [nvarchar](500) NULL,
	[WearingSuggestion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BlendID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavouriteBlendApparels]    Script Date: 12-03-2025 11:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavouriteBlendApparels](
	[BlendID] [int] NOT NULL,
	[ApparelID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlendID] ASC,
	[ApparelID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-03-2025 11:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](128) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[FavouriteColor] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Apparels] ADD  DEFAULT (NULL) FOR [Size]
GO
ALTER TABLE [dbo].[Apparels] ADD  DEFAULT (NULL) FOR [ColorName]
GO
ALTER TABLE [dbo].[FavouriteBlend] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Apparels]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FavouriteBlend]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavouriteBlendApparels]  WITH CHECK ADD FOREIGN KEY([ApparelID])
REFERENCES [dbo].[Apparels] ([ApparelID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavouriteBlendApparels]  WITH CHECK ADD FOREIGN KEY([BlendID])
REFERENCES [dbo].[FavouriteBlend] ([BlendID])
ON DELETE CASCADE
GO
