body {
    font-family: Arial, sans-serif;
    background: linear-gradient(16deg, rgba(235,187,75,1) 22%, rgba(218,128,37,1) 54%, rgba(170,131,32,0.9697128851540616) 80%);
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    overflow:hidden;
}

/*div{
    padding:10px;
}*/

.content {
    height:80%;
    width:80%;
    padding: 30px 60px;
    border-radius: 20px;
    background-image:url("/assets/registration.jpg");
    background-size:contain;
}

#Button1{
    /*margin:20px;*/
    padding:25px;
    background-color:red;
   align-items:center;
   justify-content:center;
   display:flex;

}
.registertext {
    font-family: "Satisfy", serif;
    font-size:40px;
    font-style:italic;
    text-align:left;
}
.text {
    font-family: "Satisfy", serif;
    font-size: 20px;
    font-style: italic;
    /*margin:2px 2px 2px 2px;*/
}
.finput {
    border: 2px solid;
    border-color: orange;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px; 
}
.linput {
    border: 2px solid;
    border-color: orange;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
}
.ageinput {
    border: 2px solid;
    border-color: orange;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
}
.colorinput {
    border: 2px solid;
    border-color: orange;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
}
.input {
    border: 2px solid;
    border-color: orange;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
    /*margin-left: 30%;
    margin-right: 30%;*/
}
.buttonregister {
    background-color: transparent;
    border-style: 1px solid ;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.buttonregister:hover {
        background-color: orange;
    }

