:root {
    --pale-purple: hsla(269, 49%, 90%, 1);
    --magnolia: hsla(263, 100%, 97%, 1);
    --periwinkle: hsla(252, 100%, 88%, 1);
    --tropical-indigo: hsla(250, 89%, 78%, 1);
    --medium-slate-blue: hsla(241, 96%, 72%, 1);
}

.main_container {
    padding: 120px 0 70px 0;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.account_info_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}

.user_profile_picture {
    flex-basis: 25%;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

    .user_profile_picture img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.account_info {
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

.account_info_fname {
    font-family: "Pacifico",serif;
    font-size: 2rem;
    color: var(--medium-slate-blue);
}

.account_info_uname {
    font-family: "Poppins", serif;
    font-size: 1.3rem;
    color: var(--tropical-indigo);
}

.apparels_stats_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.apparel_stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    font-family: "Poppins",serif;
}

.apparel_number {
    font-size: 2rem;
    color: var(--medium-slate-blue);
}

.apparel_type {
    font-family: "Pacifico", serif;
    color: var(--medium-slate-blue);
}

.fav_blends_title {
    width: 100%;
    font-family: "Poppins",serif;
    text-align: center;
    font-size: 1rem;
    color: var(--medium-slate-blue);
    padding: 10px 0 15px 0;
    border-bottom: 2px solid var(--tropical-indigo);
}

.favourite_blends_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.blend_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--periwinkle);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-bottom: 10px;
}

.blend_images_container {
    width: 100%;
    height: 100%;
    max-height: 170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.blend_image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .blend_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blend_image:first-child:nth-last-child(1) {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    .blend_image:first-child:nth-last-child(2),
    .blend_image:first-child:nth-last-child(2) ~ .blend_image {
        grid-column: auto / span 1;
        grid-row: 1 / -1;
    }

    .blend_image:first-child:nth-last-child(3) {
        grid-column: 1 / -1;
    }

.blend_name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--medium-slate-blue);
    text-align: center;
    font-weight: 700;
}
