
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  
    width: 90%;
    border: 1px solid white;
    padding: 10px;
    background: #EEB774;
    border-radius: 20px;
}
.boundaries{
    
    height:35vh;
    width:90%;
    border:3px solid white;
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    text-align:left;
    border-radius:20px;
}
.username-text, .password-text {
    text-align: left;
    font-family: "Satisfy";
}
.login-text {
    width: 90%;
    background: transparent;
    border: 1px solid transparent;
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-align: left;
    font-family: "Satisfy";
    border-block-end:2px solid black;
}


.button {
    width: 100%; 
    display: flex;
    justify-content: center; 
    padding: 10px;
    background-color:transparent;
    
}

.loginbutton {
    width: 80%;
    font-size: 1.2em;
    padding: 15px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 15px;
    font-family: "Satisfy",Serif;
}
.loginbutton:active {
            background-color: lightcoral; 
            color: white; 
 }